@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'KIMM_Bold';
}

/* 라이브러리 */
.table-box-type-1 th{
	border: 2px solid black;
	padding: 10px;
	
}

.table-box-type-1 th:nth-child(2){
	border: 2px solid black;
	padding: 10px;
	width: 200px;
}

header > div > ul > li{
	position: relative;
}

header > div > ul > li > ul {
	display: none;
}

header > div > ul > li:hover > ul {
	display: block;
	position: absolute;
}

header > div > ul > li > ul > li > a{
	white-space: nowrap;
}